#Navigation-bar {
  position: sticky;
  background-color: rgba(154, 160, 166, 0.719);
  backdrop-filter: blur(5px);
  display: block;
  top: 0;
  z-index: 3;
  float: center;
}

#Navigation-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#Navigation-bar li {
  float: left;
  background-color: transparent;
  transition: 0.25s;
  border-radius: 5px;
}

#Navigation-bar li:hover {
  background-color: #66ccff;
}

#Navigation-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#accountInfo {
  display: flex;
  flex-direction: row;
  direction: rtl;
  flex-grow: 1;
  justify-content: flex-end;
  float: right;
  background-color: transparent;
  text-align: center;
  align-items: flex-start;
  padding: 14px 16px;
  transition: 0.25s;
  border-radius: 5px;
}

#accounInfor > * {
  margin: 5px;
}

#accountInfo a {
  color: white;
  text-decoration: none;
}

#accountInfo *:hover {
  background-color: #66ccff;
}
