.survey_question {
    text-align: left;
    margin-top: 30pt;
    margin-left: 30pt;
    margin-right: 30pt;
}

.response_field {
    text-align: left;
    margin-left: 30pt;
    margin-right: 30pt;
}
