 #login_page {
   /* Background Image */
   background-image: url('./images/shoko.png');
   background-position: right;
   /* background-position-x: 50%; */
   background-size: auto;
   background-repeat: no-repeat;
 }
 
 .Login_panel {
    width: 30%;
    min-width: 10%;
    margin: 0 auto;
    margin-top: 10%;
    background-color: white;
    padding: 30px;
    border-radius: 20px;  
 }