  html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    background-image: url("./images/background2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
  }

  .home_pg {
    height: 100%;
  }

  #title-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  

  #Navigation-bar{
      position: sticky;
      background-color: black;
      display: block;
      top: 0;
      z-index: 1;
  }

  #Navigation-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #Navigation-bar li {
    float: left;
    background-color: transparent;
    transition: 0.25s;
    border-radius: 5px;
  }

  #Navigation-bar li:hover{
    background-color: #66ccff;
  }

  #Navigation-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  #Welcome-section {
    /* position: relative;
    top: 30%; */
    /* height: auto; */
    margin: auto;
    color: white;
    font-size: xx-large;
  }

  #accountInfo {
    float: right;
    background-color: transparent;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    transition: 0.25s;
    border-radius: 5px;
  }

  #accountInfo:hover{
    background-color: #66ccff;
  }

  .posts {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-gap: 1em;
  }
